<%
var bc = helpers.teller_breadcrumb();
bc.add({title: 'Maps', link: '/stories/' + story._id + '/maps'});
bc.add({title: map.title, link: '/stories/' + story._id + '/maps/' + map._id});
bc.add({title: 'Edit', meta: {active: true} });
%>
<%- bc %>

<script language="javascript">
    var map_data = <%- JSON.stringify(map.toJSON()) %>;
</script>

<h1>Map &quot;<%= map.title %>&quot; (<%= map.template %>) for Story &quot;<%= story.title %>&quot;</h1>

<div ng-app="teller_app">
    <div ng-controller="teller_map_edit">

        <p><b>Background:</b> {{ background.name }}</p>

        <div ng-form class="form-inline pull-right" style="width: 20em" ng-show="show_search_menu()">
            <div class="form-group">
                <input type="search" class="form-control input-smal" ng-model="search_text" placeholder="search"/>
            </div>
            <div class="form-group" ng-click="search_text=''"><b>&times;</b></div>
        </div>
        <div class="map-scale-group pull-left">
            <div class="range-item">
                <input type="range" id="map-scale-slider"/>
            </div>
            <div class="range-feedback">
                {{ coords() }}
            </div>
        </div>

    </div>

</div>

<canvas id="map" width="800" height="600"
        style="border: 1px solid black; background-color: rgb(51, 51, 51)"></canvas>